<div class="signin-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Please login To continue</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="card">
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="UserName" name="userName" required ngModel>
          <mat-error>
            Please the User name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" name="password" required ngModel>
          <mat-error>
            Please the password is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="color1" type="submit" [disabled]="!form.form.valid">Login</button>
      </form>

    </mat-card-content>
  </mat-card>
</div>